{%extends 'dashboard.html' %}
{% load static %}
{% block content%}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Mails</h1>
                    </div>

                    <div class="row" width="100%">
                        <div class="card text-left">
                            <div class="card-header">
                              
                            </div>
                            <div class="card-body">
                              
                        {%for mail in mails%}
                        <div class="card" style="width: 18rem; float:left; margin-left: 2em; margin-bottom: 2em;">
                          <div class="card-body">

                            <h6 class="card-subtitle mb-2 text-muted">Mail Sent by {{mail.name}}  on {{mail.date}}</h6>
                            <strong style="color:rgb(65, 63, 63);">Mail Message: </strong>
                            <p class="card-text">                           
                              {{mail.message}}                            
                            </p>
                          </div>
                        </div>
                        {%endfor%}
                                
                        </div>
                            <div class="card-footer text-muted">
                              2 days ago
                            </div>
                          </div>
                        
                            

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {%endblock%}





            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Reservation by {{reservation.name}}</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Actions:</div>
                            <a class="dropdown-item" href="#">Clear reservation</a>
                            <a class="dropdown-item" href="#">Edit Resevation</a>                       
                            
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                   <p> Reserved Time: {{reservation.name}}</p>
                   <p> Number of People: {{reservation.people}}</p>
                   <p> Contacts: </p>
                   <p>   Email: {{reservation.email}}</p>
                   <p>   Phone:{{reservation.phone}}</p>
                   <p> Additional Information :{{reservation.additional_info}}</p>

                </div>
            </div>

        </div>

    </div>